.image{
  position: absolute;
}

.logo{
  position: absolute;
  z-index: 1;
}

.div{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 4%;
  align-items: center;
}

.divButton{
  position: relative;
  width:900px;
  height:600px;
  display: flex;
  justify-content: center;
  background-color: #2525258c;
  border-radius: 20px;
}

.button{
  position: absolute;
  bottom: 10%;
  width:200px;
  height:60px;
  z-index: 2;
  border-radius: 10px;
  border: none;
  font-size: large;
  background-color: rgb(93, 93, 189);
  transition: 0.3s;
  text-decoration: none;
  color: aliceBlue;
}

.button:hover {
  background-color: rgb(201, 207, 18);
}


.linkStyle{
    position: absolute;
    bottom: 10%;
    display: flex;
    height: 50px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: aliceblue;
    font-size: large;
    text-decoration: none;
    font-weight: bold;
    background-color: burlywood;
    transition: 0.3s;
}

.linkStyle:hover{
  background-color: chocolate;
}

.spanStyle{
  color: coral;
  position: absolute;
  right: 5%;
  font-size: 12px;
}
