.body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d2d3d5;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.img_r{
    position: absolute;
    height: 100%;
    right: 0px;
    z-index: -2;
    opacity: 0.6;
}

.img_l{
    position: absolute;
    height: 100%;
    left: 0px;
    z-index: -2;
    opacity: 0.6;
}
