.body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.img_c {
    height: 300px;
    z-index: -1;
    top: 10%;
    width: 400px;
    position: fixed;
    left: 30%;
}

@media screen and (max-width: 600px) {
    .img_c {
        visibility: hidden;
    }
}