.ul{
    position: absolute;
    top: 6%;
    margin-left: 20%;
    width: 50%;
    background-color: #e3e0c4;
    padding: 20px;
    list-style-type: none;
    border-radius: 10px;
}

.body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d2d3d5;
    z-index: -1;
}

.image{
    height: 50px;
    width: 50px;
    border: 2px aliceblue solid;
    border-radius: 10px;
    margin-right: 10px;
}

.li{
    display: flex;
    align-items: center;
    border: 2px aliceblue solid;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #e8e6d5;
    color:rgb(188, 154, 110);
    font-weight: bold;
    font-size: 20px;
}

.link_component{
    text-decoration: inherit;
    color: rgb(141, 174, 113);
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

.nav_button{
    background-color: rgb(141, 174, 113);
    border-radius: 100px;
    height: 40px;
    width: 40px;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    border: aliceblue 2px solid;
    margin: 5px;
    transition: 0.3s;
}

.nav_button:hover{
    height: 30px;
    background-color: burlywood
}

.div_navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    background-color: burlywood;
    width: 150px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.nav_contain{
    display: flex;
    justify-content: center;
}

.asc_order_button{
    border: 1px rgb(141, 174, 113) solid; 
    border-radius: 100px;
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
}

.desc_order_button{
    border: 1px rgb(141, 174, 113) solid; 
    border-radius: 100px;
    width: 50px;
    height: 50px;
    transform: rotate(270deg);
}