.ul{
    position: absolute;
    top: 25%;
    margin-left: 20%;
    width: 50%;
    background-color: aliceblue; 
}

.body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d2d3d5;
    z-index: -1;
}

.div_ul{
    
}