.navbar {
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #e3e0c4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
}

.navbar nav {
    height: 100%;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}

.button_create {
    margin-right: 5px;
    display: flex;
    height: 40px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: aliceblue;
    font-size: large;
    text-decoration: none;
    background-color: rgb(141, 174, 113);
    transition: 0.3s;
    font-weight: bold;
    border: 2px solid aliceblue;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

.button_create:hover {
    margin-top: 5px;
    background-color: burlywood;
}

.submitIcon {
    background-color: rgb(141, 174, 113);
    padding: 2px;
    border-radius: 100px;
    height: 35px;
    width: 35px;
    transition: 0.3s;
}

.submitIcon:hover {
    transform: rotate(360deg);
    background-color: rgb(46, 149, 172);
    transition: 0.4s;
}


.searchForm {
    display: flex;
    align-items: center;
    padding: 3px;
    border: 2px solid aliceblue;
    border-radius: 100px;
    background-color: burlywood;
}

.searchInput {
    background-color: aliceblue;
    height: 35px;
    border-radius: 100px;
    border: none;
    text-align: center;
    margin-right: 5px;
    color: rgb(87, 87, 87);
    font-weight: bold;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    .button_create {
        height: 40px;
        width: 40px;
    }

    .searchInput {
        margin-right: 3px;
        font-size: 13px;
    }
}